In [1]:
import pandas as pd

In [24]:
#adding the cordinates using the given csv file
cordinates = pd.read_csv('Geospatial_Coordinates.csv')

#importing csv file compiled from previous task
neighborhood = pd.read_csv('Toronto_neighborhood.csv')

neighborhood.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [25]:
#renaming the column to combine it with second dataframe
cordinates.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
cordinates.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [26]:
#Use the Geocoder package or the csv file to create the following dataframe:
result = pd.merge(cordinates, neighborhood, on='PostalCode')
result.head()

,PostalCode,Latitude,Longitude,Borough,Neighborhood
0,M1B,43.806686,-79.194353,Scarborough,"Rouge, Malvern"
1,M1C,43.784535,-79.160497,Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae

In [ ]:
neighborhoods.to_csv('Toronto_neighborhood.csv', encoding='utf-8')